/* Estilos para el contenedor principal */
.container {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
}

aside {
  background-color: #000000;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 16rem;
  border: 1px solid white;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  transition: width 1s, transform 2s;
}

aside:hover {
  width: 300px;
  animation: slide-in 500ms; 
}


.titulo {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.titulo:hover {
  color: #494949;
}

.boton {
  font-size: 25px;
  background-color: #586F7C;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  text-align: center;
  text-decoration: none;
  display: block;
}

.boton:hover {
  background-color: #333;
  color: white;
}

body {
  border: 1px solid white;
}

/* Fondos */
/* .home-background{
  background: url("home.jpg") no-repeat center center fixed;
  background-size: cover;
}

.services-background {
  background: url("Services.jpg") no-repeat center center fixed;
  background-size: cover;
}

.contact-background {
  background: url("Contact.jpg") no-repeat center center fixed;
  background-size: cover;
}

.about-background {
  background: url("About.jpg") no-repeat center center fixed;
  background-size: cover;
} */
